html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #FFFFFF;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, "sans-serif";
    font-size: 14px;
    color: #646464;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.btn a:link,
.btn a:active,
.btn a:visited,
.btn a:hover {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, "sans-serif";
    font-size: 14px;
    color: white;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.anaMenu a:link,
.anaMenu a:active,
.anaMenu a:visited,
.anaMenu a:hover {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, "sans-serif";
    font-size: 14px;
    color: black;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.altMenu a:link,
.altMenu a:active,
.altMenu a:visited,
.altMenu a:hover {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, "sans-serif";
    font-size: 14px;
    color: gray;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}